<!DOCTYPE html>
<html>
  <meta charst="UTF8">
  <!-- link to css -->
  <link rel="stylesheet" href="./css/main.css">
  <title>Database</title>
<head>
<body>
  <li class="nav-item">
    <a href="maps">maps</a>
    <a href="database">Databasen</a>
    <a href="search">Søkefeltet</a>
  </li>
  <div class="text">
    <h1>Reinsdyr database</h1>
    <img src="./Databasa.jpg" />
  </div>
</body>
</html>