<!DOCTYPE html>
<html>
  <meta charst="UTF8">
  <!-- link to css -->
  <link rel="stylesheet" href="./css/main.css">
  <title>Karte over forskjellige områdene!</title>
<head>
<body>
  <li class="nav-item">
    <a  href="maps">maps</a>
    <a  href="database">Databasen</a>
    <a  href="search">Søkefeltet</a>
  </li>
    <div class="text">
      <h1>Kart over samiske språkområder</h1>
      <img src="./kart.jpg" />
    </div>
     
</body>
</html>
