<!DOCTYPE html>
<html>
  <head>
    <meta charst="UTF8">
    <!-- link to css -->
    <link rel="stylesheet" href="./css/main.css">
    <script src="C:\Users\MatijaJ\Desktop\MatijaJovanovic-exsamen\app.js"></script>
    <title>Søkefeltet</title>
  <body>
    <form action="nav-item">
    <li class="nav-item">
      <a  href="maps">maps</a>
      <a  href="database">Databasen</a>
      <a  href="search">Søkefeltet</a>
    </li>
    </form>
    <br>
     <form action=""mrthod="get" class="search-bar">
        <input type="text"placeholder="search anything" style="width: 50%;">
        <button type="submit"><img src="./search.jpg"style="width: 8%;"></button>
      </form>

  </body>
</html>